extends ../layout

block head
	//- Hackish way to do this but need simple way to make this available to jade and man.js
	- Date.prototype.toTFLString = function() { return (this.getMonth() + 1) + "/" + this.getDate() + "/" + this.getFullYear(); }
	
	script.
		Date.prototype.toTFLString = !{Date.prototype.toTFLString};
		
	if user
		script.
			var account = !{ JSON.stringify(user) };
	else
		script.
			var account = null;

block main
	div.popup
		//- Display popup messages such as errors
	
	section.content.lessons
		header.content
			h2.pull-left List of Lessons
			a.print.btn.btn-primary.pull-right(href="#print") 
				span(class="glyphicon glyphicon-print")
				| &nbsp;&nbsp;Print
			p.clearfix
			
			//- Students cannont add lessons, but show the buttoon to logged out users.
			if !user || (user && (user.role === "Teacher" || user.role === "Admin"))		
				a.add.principle.btn.btn-default(href="#add", data-type="Principle")
					span(class="glyphicon glyphicon-plus") 
					| &nbsp;&nbsp;Add Principle

			table.lesson-list.principles.table.table-bordered.table-striped
				thead
					th.title 
						i#blah.glyphicon.glyphicon-question-sign(rel='tooltip', title='This has information about the name of ...')
						| &nbsp;Principles
						span.pull-right(class="glyphicon glyphicon-sort")
					th.created Created
						span.pull-right(class="glyphicon glyphicon-sort")
					th.script Script
						span.pull-right(class="glyphicon glyphicon-sort")
					th.status Status
						span.pull-right(class="glyphicon glyphicon-sort")
					th.video Video
						span.pull-right(class="glyphicon glyphicon-sort")
					th.status Status
						span.pull-right(class="glyphicon glyphicon-sort")
							
				tbody
					//- Empty row used to add new rows as lessons are created.
					tr.clone(data-id="", data-title="")
						td.title
						td.created
						td.script
							a.signup.btn.btn-default(href="#signup", data-type="script") 
								span(class="glyphicon glyphicon-pencil") 
								| &nbsp;Sign Up!
							span.error
						td.script-status
						td.video
							a.signup.btn.btn-default(href="#signup", data-type="video")
								span(class="glyphicon glyphicon-pencil") 
								| &nbsp;Sign Up!
							span.error
						td.video-status

					if lessons
						each lesson in lessons
							if lesson.type == "Principle"
								tr(data-id="#{lesson.id}", data-title="#{lesson.title}")
									td.title= lesson.title
									td.created= new Date(lesson.createdAt).toTFLString()
									td.script
										if lesson.script
											| #{lesson.script}
											if (lesson.scriptStatus != "Completed") && (user && lesson.script.match(user.fullName))
												span.pull-right(class="glyphicon glyphicon-remove")
										else if lesson.scriptStatus != "Completed"
											a.signup.btn.btn-default(href="#signup", data-type="script")
												span(class="glyphicon glyphicon-pencil")
												| &nbsp;Sign Up!
											span.error
									td.script-status= lesson.scriptStatus 
									td.video
										if lesson.video
											| #{lesson.video}
											if (lesson.scriptStatus != "Completed") && (user && lesson.video.match(user.fullName))
												span.pull-right(class="glyphicon glyphicon-remove")
										else if lesson.videoStatus != "Completed"
											a.signup.btn.btn-default(href="#signup", data-type="video")
												span(class="glyphicon glyphicon-pencil") 
												| &nbsp;Sign Up!
											span.error
									td.video-status= lesson.videoStatus 

			//- Students cannont add lessons, but show the buttoon to logged out users.
			if !user || (user && (user.role === "Teacher" || user.role === "Admin"))
				a.add.strategy.btn.btn-default(href="#add", data-type="Strategy")
					span(class="glyphicon glyphicon-plus") 
					| &nbsp;&nbsp;Add Strategy

			table.lesson-list.strategies.table.table-bordered.table-striped
				thead
					th.title Strategies
						span.pull-right(class="glyphicon glyphicon-sort")
					th.created Created
						span.pull-right(class="glyphicon glyphicon-sort")
					th.script Script
						span.pull-right(class="glyphicon glyphicon-sort")
					th.status Status
						span.pull-right(class="glyphicon glyphicon-sort")
					th.video Video
						span.pull-right(class="glyphicon glyphicon-sort")
					th.status Status
						span.pull-right(class="glyphicon glyphicon-sort")
						
				tbody
					//- Empty row used to add new rows as lessons are created.
					tr.clone(data-id="", data-title="")
						td.title
						td.created
						td.script
							a.signup.btn.btn-default(href="#signup", data-type="script")
								span(class="glyphicon glyphicon-pencil") 
								| &nbsp;Sign Up!
							span.error
						td.script-status
						td.video
							a.signup.btn.btn-default(href="#signup", data-type="video")
								span(class="glyphicon glyphicon-pencil") 
								| &nbsp;Sign Up!
							span.error
						td.video-status
						
					if lessons
						each lesson in lessons
							if lesson.type == "Strategy"
								tr(data-id="#{lesson.id}", data-title="#{lesson.title}")
									td.title= lesson.title
									td.created= new Date(lesson.createdAt).toTFLString()
									td.script
										if lesson.script
											| #{lesson.script}
											if (lesson.scriptStatus != "Completed") && (user && lesson.script.match(user.fullName))
												span.pull-right(class="glyphicon glyphicon-remove")
										else if lesson.scriptStatus != "Completed"
											a.signup.btn.btn-default(href="#signup", data-type="script")
												span(class="glyphicon glyphicon-pencil") 
												| &nbsp;Sign Up!
											span.error
									td.script-status= lesson.scriptStatus 
									td.video
										if lesson.video
											| #{lesson.video}
											if (lesson.scriptStatus != "Completed") && (user && lesson.video.match(user.fullName))
												span.pull-right(class="glyphicon glyphicon-remove")
										else if lesson.videoStatus != "Completed"
											a.signup.btn.btn-default(href="#signup", data-type="video")
												span(class="glyphicon glyphicon-pencil") 
												| &nbsp;Sign Up!
											span.error
									td.video-status= lesson.videoStatus 
									
			table.lesson-list.applications.table.table-bordered.table-striped
				thead
					th.title Applications
						span.pull-right(class="glyphicon glyphicon-sort")
					th.created Created
						span.pull-right(class="glyphicon glyphicon-sort")
					th.script Script
						span.pull-right(class="glyphicon glyphicon-sort")
					th.status Status
						span.pull-right(class="glyphicon glyphicon-sort")
					th.video Video
						span.pull-right(class="glyphicon glyphicon-sort")
					th.status Status
						span.pull-right(class="glyphicon glyphicon-sort")
						
				tbody
					//- Empty row used to add new rows as lessons are created.
					tr.clone(data-id="", data-title="")
						td.title
						td.created
						td.script
							a.signup.btn.btn-default(href="#signup", data-type="script")
								span(class="glyphicon glyphicon-pencil") 
								| &nbsp;Sign Up!
							span.error
						td.script-status
						td.video
							a.signup.btn.btn-default(href="#signup", data-type="video")
								span(class="glyphicon glyphicon-pencil") 
								| &nbsp;Sign Up!
							span.error
						td.video-status
						
					if lessons
						each lesson in lessons
							if lesson.type == "Application"
								tr(data-id="#{lesson.id}", data-title="#{lesson.title}")
									td.title #{lesson.title} #{lesson.parentType}
									td.created= new Date(lesson.createdAt).toTFLString()
									td.script
										if lesson.script
											| #{lesson.script}
											if (lesson.scriptStatus != "Completed") && (user && lesson.script.match(user.fullName))
												span.pull-right(class="glyphicon glyphicon-remove")
										else if lesson.scriptStatus != "Completed"
											a.signup.btn.btn-default(href="#signup", data-type="script")
												span(class="glyphicon glyphicon-pencil") 
												| &nbsp;Sign Up!
											span.error
									td.script-status= lesson.scriptStatus 
									td.video
										if lesson.video
											| #{lesson.video}
											if (lesson.videoStatus != "Completed") && (user && lesson.video.match(user.fullName))
												span.pull-right(class="glyphicon glyphicon-remove")
										else if lesson.videoStatus != "Completed"
											a.signup.btn.btn-default(href="#signup", data-type="video")
												span(class="glyphicon glyphicon-pencil") 
												| &nbsp;Sign Up!
											span.error
									td.video-status= lesson.videoStatus 
	

	section.register
		form.register(method="post") 
			input.csrf(type='hidden' name='_csrf' value='#{_csrf}')
			p
				input#signup-first-name(type="text", name="firstName", placeholder="First Name", required, autofocus)
				| &nbsp;&nbsp;
				input#signup-last-name(type="text", name="lastName", placeholder="Last Name", required)
			p
				input#signup-email(type="email", name="email", placeholder="email", required)
				| &nbsp;&nbsp;
				
				| Select: &nbsp;&nbsp;
				select#signup-role(name="role", required)
					option(value="") My Role
					option(value="Student") Student
					option(value="Teacher") Teacher
					
			p Select: &nbsp;&nbsp;
				select#signup-role(name="school", required)
					option(value="") My School
					option(value="Other") Other
					option(value="Bethel") Bethel
					option(value="Friends") Friends
					option(value="McPherson") McPherson
					option(value="Southwestern") Southwestern
					option(value="Wichita State") Wichita State
                    
					
			p
				input#signup-password(type="password", name="password", placeholder="password", required)
				| &nbsp;&nbsp;
				input#signup-confirm-password(type="password", name="confirmPassword" placeholder="confirm password", required)
			p
				input.submit(type="submit", value="Create")
				| &nbsp;&nbsp;
				input.cancel(type="button" value="Cancel")
				
			p.error
	

	section.login
		form.login(method="post")
			input.csrf(type='hidden' name='_csrf' value='#{_csrf}')
			p
				input#login-name(type="text", name="loginName", placeholder="full name or email", required, autofocus)
			p
				input#login-password(type="password", name="password", placeholder="password", required)
			p
				input.submit(type="submit", value="Login")
				| &nbsp;&nbsp;
				input.cancel(type="button" value="Cancel")
			p.error
			p
				| Or 
				a(class="login-create-account" href="#create") Create an Account
				| &nbsp;if you don't already have one.


	section.profile
		.info.user
			p#email
				a(href="mailto:")
			p#role 
			p#school
		
		.info.scripts
			header 
				span(class="glyphicon glyphicon-folder-close")
				| &nbsp;&nbsp;
				| Scripts I've signed-up for.
				
			.content
			
		.info.videos
			header
				span(class="glyphicon glyphicon-facetime-video")
				| &nbsp;&nbsp;
				| Videos I've signed-up for.
			.content

		.info.lessons-created
			header 
				span(class="glyphicon glyphicon-film")
				| &nbsp;&nbsp;
				| Lessons I've added.
			.content

		input.cancel(type="button" value="Close")

	
	section.contact
		//- Action defined in javascript to make spam bot job harder.
		form.contact(method="post")
			input.csrf(type='hidden' name='_csrf' value='#{_csrf}')
			p
				input(type="text" name="subject" placeholder="Subject" required autofocus)
			p
				textarea(name="message" cols="50" rows="5" placeholder="Body" required)
			p
				input.send(type="submit" value="Send")
				| &nbsp;&nbsp;
				input.cancel(type="button" value="Cancel")
			p.message.contact 
				span(class="glyphicon glyphicon-envelope")
				| &nbsp;Sending message ...


	section.add-lesson
		form.add-lesson(method="post", action="/lesson/create")
			input.csrf(type='hidden' name='_csrf' value='#{_csrf}')
			p
				input.lesson(type="text", name="title", placeholder="", required autofocus)
				input.lesson-type(type="hidden", name="lessonType", value="")
			p.error
			p
				span Check your spelling before adding.
			p
				input.send(type="submit" value="Add")
				| &nbsp;&nbsp;
				input.cancel(type="button" value="Cancel")

	section.signup
		#signup-title

		input.signup.ok(type="button" value="OK")
		| &nbsp;&nbsp;
		input.cancel(type="button" value="Cancel")

	section.message
		#message-title
		input.message.cancel(type="button" value="OK")